<h1><%= title %></h1>
<%- messages() %>
<div class="container">
  <form id="registerForm" action="/account/register" method="post">
    <div class="form-group">
      <label for="account_firstname"
        ><span>First Name</span>
        <input
          type="text"
          id="account_firstname"
          name="account_firstname"
          value="<%= locals.account_firstname %>"
          required
        />
      </label>
      <label for="account_lastname"
        ><span>Last Name</span>
        <input
          type="text"
          id="account_lastname"
          name="account_lastname"
          value="<%= locals.account_lastname %>"
          required
        />
      </label>
      <label for="account_email"
        ><span>Email Address</span>
        <input
          type="email"
          id="account_email"
          name="account_email"
          value="<%= locals.account_email %>"
          required
        />
      </label>
    </div>
    <div class="form-group">
      <label for="account_password"
        ><span>Password</span>
        <input
          type="password"
          id="account_password"
          name="account_password"
          value="<%= locals.account_password %>"
          class="error-message"
          required
        />
      </label>
    </div>
    <div
      id="passwordError"
      class="error-message"
      style="display: none; color: red"
    ></div>
    <p>
      Password must be minimum of 12 characters and include 1 capital letter, 1
      number and 1 special character
    </p>
    <input
      type="button"
      value="Show Password"
      id="show-password"
      class="button"
    />
    <input type="submit" value="Register" class="button" />
    <div class="form-group">
      <p>Already have an account? <a href="/account/login">Login here</a>.</p>
    </div>
  </form>
</div>
